@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.my-container {
  max-width: 1499px;
  margin: auto;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
}

.navbar-container {
  max-width: 1350px;
  margin: auto;
}

.profile-container {
  max-width: 1350px;
  margin: auto;
}

.component {
  background: linear-gradient(#9192ff, #80dcff);
}

.login-image {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./images/Rectangle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.otpInput {
  width: 60px;
  height: 60px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid rgb(189, 177, 177);
}

.footer {
  background: linear-gradient(180deg, #202856 0%, #03131e 98%);
}

.customer-stories {
  background: linear-gradient(180deg, #202856 0%, #03131e 100%);
}

.background-search {
  background-image: url("./images/search-bg.jpg");
  height: 130px;
  width: 600px;
  border-radius: 15px;
  background-size: cover;
}

.started-background {
  background-image: url("./images/Banner.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
}

.form-container {
  max-width: 72%;
  margin: auto;
}

.pricing-container{
  max-width: 1350px;
  margin: auto;
}

.swiper-button-prev{
  left: -10px;
  z-index: 1000;
}

/* Example CSS for styling navigation buttons */
.swiper-button-prev,
.swiper-button-next {
    background-color: none; /* Change background color */
    color: #fff; /* Change text color */
    border-radius: 50%; /* Make the buttons round */
    width: 40px; /* Set width */
    height: 40px; /* Set height */
    font-size: 20px; /* Change font size */
    line-height: 40px; /* Center text vertically */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: none; /* Change background color on hover */
}

/* Example CSS for styling pagination bullets */
.swiper-pagination-bullet {
  display: none;
    background-color: none; /* Change bullet color */
    width: 10px; /* Set width */
    height: 10px; /* Set height */
    margin: 0 5px; /* Add margin between bullets */
    border-radius: 50%; /* Make bullets round */
}

.swiper-pagination-bullet-active {
    background-color: #0056b3; /* Change active bullet color */
}

@media (max-width: 1024px) {
  .form-container {
    max-width: 82%;
    margin: auto;
  }

  .started-background {
    height: 295px;
  }
}


@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
    margin: auto;
  }
  .background-search {
    height: 130px;
    width: 500px;
  }
}

@media (max-width: 500px) {
  .background-search {
    height: 80px;
    width: 300px;
  }

  .background-search input::placeholder{
    font-size: 12px;
  }

  .background-search p{
    font-size: 10px;
  }

  .started-background {
    height: 200px;
  }
  
}